<div >
 
        <cytoscape elements="elements" cy-click="doClick(id, label)"></cytoscape>


                         <button ng-show="!editing" type="button" id="edit-button" class="btn btn-default" ng-click="edit()">
                             <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                         <button ng-show="editing" type="button" id="edit-button" class="btn btn-default" ng-click="save()">
                             <span class="glyphicon glyphicon-ok"></span>
                        </button>
</div>
