<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12 lead">
                {{ahoj}}

                <hr>
            </div>
        </div>


        <div class="row">
            <br>


            <div class="col-md-4 text-center">
                <div class="profile-image-container">
                    <img class="img-thumbnail avatar img-responsive" src="/images/emp.jpg">

                    <div class="col-offset-4 centered text-left">
                        <br>


                        <h1 class="only-bottom-margin">{{test}}</h1>
                        <span class="text-muted">Email:</span> email@test.com<br>
                        <span class="text-muted">Birth date:</span> 01.01.2001<br>
                        <span class="text-muted">Gender:</span> male<br>
                        <small class="text-muted">Created: 01.01.2015</small>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="icon-container"><img class="img-responsive center-block" src=
                        "/images/icons/work.png">
                        </div>


                        <h3><strong>732</strong> hours spend at work</h3>
                    </div>


                    <div class="col-md-4 text-center">
                        <div class="icon-container"><img class="img-responsive center-block" src=
                        "/images/icons/comp.png">
                        </div>


                        <h3><strong>1323</strong> passes through the portals</h3>
                    </div>


                    <div class="col-md-4 text-center">
                        <div class="icon-container text-center"><img class="img-responsive center-block" src=
                        "/images/icons/cal.png">
                        </div>


                        <h3>Working since <strong>01/01/2003</strong></h3>
                    </div>
                </div>
                <br>
                <br>


                <div class="row padded">
                    <ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
                        <li>
                            <a data-toggle="tab" href="#orange">Time spent in zones</a>
                        </li>


                        <li>
                            <a data-toggle="tab" href="#yellow">Passes through gates</a>
                        </li>


                        <li>
                            <a data-toggle="tab" href="#green">Employee statistics</a>
                        </li>
                    </ul>


                    <div class="tab-content" id="my-tab-content">
                        <div class="padded">
                            <canvas class="chart chart-pie" id="pie"></canvas>
                        </div>
                        <!--<div class="tab-pane" id="orange">

            
        </div>
        <div class="tab-pane" id="yellow">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane" id="green">
            <h1>Green</h1>
            <p>green green green green green</p>
        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <br>
        <br>
    </div>
</div>