<script type="text/ng-template" id="zones_renderer.html">
    <div ng-if="!zone.hidden" class="text-left" style="margin-left : 15px">
        <span ng-click="toggleZone(zone)">
            <span ng-if="zone.children.length !== 0 && !zone.showChildren" class="glyphicon glyphicon-plus" ></span>
        <span ng-if="zone.children.length !== 0 && zone.showChildren" class="glyphicon glyphicon-minus"></span>
        <span ng-if="zone.children.length === 0" class="glyphicon glyphicon-one-fine-dot"></span> {{zone.label}}
        </span>
        <toggle-switch ng-model="zone.permission" ng-click="togglePermission(zone)" class="pull-right"></toggle-switch>
        <hr>
        <div ng-if="zone.children && zone.showChildren">
            <div ng-repeat="zone in zone.children" ng-include="'zones_renderer.html'"></div>
        </div>
    </div>
</script>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12 lead">
                Employee profile settings
                <hr>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-4 text-center">
                <div class="profile-image-container">
                    <img class="img-thumbnail avatar img-responsive" ng-src="{{emp.img}}" on-error-src="http://google.com/favicon.ico" />
                    <div class="col-offset-4 centered text-left">
                    </div>
                </div>
                <br>
                <br>
                <div class="panel panel-default padded">
                    <div class="panel-heading">
                        <h3 class="panel-title">Permissions:</h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Filter:</div>
                                    <input type="text" class="form-control" ng-model="zoneFilter" ng-change="filter()" placeholder="Zone name">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body ">

                        <div ng-repeat=" zone in zones" class="text-left" >
                            <div ng-if="!zone.hidden">
                                <span ng-click="toggleZone(zone)">
                            <span ng-if="zone.children && !zone.showChildren" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span ng-if="zone.children && zone.showChildren" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                <span ng-if="!zone.children" class="glyphicon glyphicon-fire" aria-hidden="true"></span> {{zone.label}}
                                </span>
                                <toggle-switch ng-model="zone.permission" ng-click="togglePermission(zone)" class="pull-right"></toggle-switch>
                                <hr>
                                <div ng-if="zone.showChildren">
                                </div>
                                <div ng-if="zone.showChildren">
                                    <div ng-repeat="zone in zone.children" ng-include="'zones_renderer.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form ng-submit="saveData()">
                    <div class="form-group">
                        <label>Firstname</label>
                        <input type="text" class="form-control" placeholder="Firstname" ng-model="emp.firstname">
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <input type="text" class="form-control" placeholder="Lastname" ng-model="emp.lastname">
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select ng-model="emp.department" class="form-control">
                            <option ng-repeat="d in departments" value="{{d}}">{{d}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Contact</label>
                        <input type="text" class="form-control" placeholder="Enter email" ng-model="emp.email">
                        <input type="text" class="form-control" placeholder="Enter phone number" ng-model="emp.phone">
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label>Gender</label>
                            <br>
                            <toggle-switch ng-model="switchStatus" on-label="Male" off-label="Female"> </toggle-switch>
                        </div>
                        <div class="col-xs-6">
                            <label>Tag number</label>
                            <input type="text" class="form-control" placeholder="Enter tag number" ng-model="emp.tagNumber">
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="form-group text-center">
                        <div class="col-md-6  hidden-xs">
                            <label>Valid from</label>
                            <datepicker ng-model="dt" min-date="emp.validFrom" show-weeks="true" class="well well-sm " custom-class="getDayClass(date, mode)"></datepicker>
                        </div>
                        <div class="col-md-6  hidden-xs">
                            <label>Valid until</label>
                            <datepicker ng-model="dt" min-date="emp.validUntil" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
                    <div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
