<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12 lead">
                Employee profile
                <a ng-show="showConfig" ng-href="/#/profileSettings/{{emp.id}}" class="btn btn-primary pull-right">Edit</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-4 text-center">
                <div class="profile-image-container">
                    <img class="img-thumbnail avatar img-responsive" ng-src="{{emp.img}}">
                    <div class="col-offset-4 centered text-left">
                        <br>
                        <h1 class="only-bottom-margin">{{emp.firstname}} <br> {{emp.lastname}}</h1>
                        <span class="text-muted">Department:</span>
                        <br>{{emp.department}}
                        <br>
                        <span class="text-muted">Phone:</span>
                        <br>{{emp.phone}}
                        <br>
                        <span class="text-muted">Email:</span>
                        <br>{{emp.email}}
                        <br>
                        <span class="text-muted">Gender:</span>
                        <br>Male
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="icon-container"><img class="img-responsive center-block" src="/images/icons/work.png">
                        </div>
                        <h3><strong>732</strong> hours spend at work</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="icon-container"><img class="img-responsive center-block" src="/images/icons/comp.png">
                        </div>
                        <h3><strong>1323</strong> passes through the portals</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="icon-container text-center"><img class="img-responsive center-block" src="/images/icons/cal.png">
                        </div>
                        <h3>Working since <strong>01/01/2003</strong></h3>
                    </div>
                </div>
                <br>
                <br>
                <tabset justified="true">
                    <tab heading="Time in zones" select="select2()" deselect="deselect2()"></tab>
                    <tab heading="Passes through gates" ></tab>
                    <tab heading="Statistics" select="select()" deselect="deselect()"></tab>
                </tabset>
                <div ng-show="chartTabShow">
                    TODO : find out what to put here
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" series="series">
                    </canvas>
                </div>
                <div ng-show="chartTab2Show">

                    <canvas id="pie" class="chart chart-pie" data="data2" labels="labels2" options = "options" legend="true"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
    </div>
</div>
