<div ng-controller="ZonesCtrl">
    <h1>Zones</h1>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">Filter: </span>
        <input type="text" class="form-control" placeholder="Zone name" ng-model="zoneFilter">
    </div>
    <br>
    <accordion close-others="oneAtATime">
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups | filter: {title : zoneFilter}">
            {{group.content}}
        </accordion-group>
    </accordion>
</div>
