<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-12 col-sm-6">
        <a class="navbar-brand" href="/#/">Project APIS portals</a>
    </div>
    <div ng-controller="NavbarCtrl" class="col-xs-12 col-sm-6">
        <div class="container pull-right">
            <div ng-if="loggedIn" style: "margin-top : 20px">
                <p class="navbar-brand hidden-sm hidden-xs">Welcome, {{currentUser}} </p>
                <span>
                    <select class="btn btn-primary navbar-button">
                        <option ng-repeat="building in buildings" value="{{building.id}}">
                        {{building.name}}
                        </option>
                    </select>
                &nbsp;
                <span>
                    <button class="btn btn-primary pull-right navbar-button" ng-click="logout()">Logout</button>

                </span>
            </div>
        </div>
    </div>
</nav>
