<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-8">
        <a class="navbar-brand" href="/#/">Project APIS portals</a>
    </div>
    <div ng-controller="NavbarCtrl" >
        <div class="container pull-right">
            <div ng-if="loggedIn">

                <p class="navbar-brand hidden-sm hidden-xs">Welcome,  {{currentUser}} </p>

                <!--
                <span>

                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        Choose building <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a href>{{choice}}</a>
                        </li>
                    </ul>
                
                </div>
                -->
                <span>

                    <button class="btn btn-primary pull-right" ng-click="logout()">Logout</button>

                </span>
            </div>

        </div>
    </div>
</nav>
