<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Project APIS portals</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="js/angular.min.js"></script>
    <link href='css/font.css' rel='stylesheet' type='text/css'>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/chartjs/Chart.js"></script>
    <script src="js/chartjs/angular-chart.js"></script>
    <!--<script src="js/vis/vis.js"></script>-->
    <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <link href="css/angular-toggle-switch.css" rel="stylesheet">
    <link href="css/angular-toggle-switch-bootstrap.css" rel="stylesheet">
    <script src="js/angular-toggle-switch.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/cytoscape.min.js"></script>
    <script src="js/ng-lodash.min.js"></script>
    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="css/abn_tree.css">
    <script src="js/abn_tree_directive.js"></script>
    <script src="/app.js "></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.1.0/cytoscape-qtip.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-spinner.min.js"></script>
</head>

<body ng-app='app'>
    <div ng-include=" '/navbars/navbar-header.html' "></div>
    <div ng-view class="container-body col-sm-10 col-sm-offset-1 ">
    </div>
    <div ng-include=" '/navbars/navbar-footer.html' "></div>
</body>

</html>
