<div class="modal-header">
    <h3 class="modal-title">Portal {{name}}</h3>
</div>
<div class="modal-body">
    <h3> Status : {{status}}</h3>
    <hr>
    
    <div us-spinner ng-if="!ready">
    </div>
    <tabset justified="true">
        <tab heading="All transactions" select="tab('transactions')"></tab>
       
        <tab heading="Alarms" select="tab('alarms')"></tab>
    </tabset>
    <div class="col-xs-12 well" ng-if="ready && !alarmTab">
        <table class="table table-striped ">
            <tr ng-repeat="t in transactions">
                <td class="col-xs-2">
                    <div>
                        <a ng-click="profile(t.empId)"><img ng-src="{{t.img}}" class="img-responsive img-circle"></a>
                    </div>
                </td>
                <td class="col-xs-6">
                    {{ t.firstname ++ " " ++ t.lastname}}
                </td>
                <td class="col-xs-4">{{ t.date | date:"dd.MM.yyyy HH:mm:ss"}}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 well" ng-if="ready && alarmTab">
    <table class="table table-striped ">
            <tr ng-repeat="t in alarms">
                <td class="col-xs-2">
                    <div >

                        <a ng-if="t.img" ng-click="profile(t.empId)"><img ng-src="{{t.img}}" class="img-responsive img-circle"></a>
                        <img ng-if="t.img" ng-src="{{t.img}}" class="img-responsive img-circle"> 
                    </div>
                </td>
                <td class="col-xs-6">
                    {{ t.firstname ++ " " ++ t.lastname}}
                </td>
                <td class="col-xs-4">{{ t.date | date:"dd.MM.yyyy HH:mm:ss"}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button ng-if="armed" class="btn btn-primary" ng-click="disarm()">Disarm</button>
    <button ng-if="!armed" class="btn btn-primary" ng-click="arm()">Arm</button>
    <button class="btn btn-primary" ng-click="changeConfig()">Change configuration</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
