<div class="modal-header">
    <h3 class="modal-title">Employees currently in {{name}}</h3>
</div>
<div class="modal-body">
    <span us-spinner ng-if="!ready">
        </span>
    <div class="row" ng-if="ready">
        <div ng-repeat="u in emps" class="col-xs-4 col-sm-2 well-sm">
            <a ng-click="profile(u.id)"><img ng-src="{{u.img}}" class="img-thumbnail img-responsive img-circle"></a>
            <h4 class="text-center">{{u.firstname}} <br> {{u.lastname}}</h4>
        </div>
        <h3 ng-if="!isEmp" class="text-center">No employees are in {{name}}</h3>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
